Tweet.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT software (software_name,version_number?,type?,os*,programming_language*, price?, license?, reason?, sentiment?)>
<!ELEMENT software_name (#PCDATA)>
<!ELEMENT version_number (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT os (#PCDATA)>
<!ELEMENT programming_language (name, version_number?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT reason (#PCDATA)>
<!ELEMENT sentiment (#PCDATA)>
<!ELEMENT license (#PCDATA)>
<!ELEMENT price (#PCDATA)>
